In [2]:
#predict maximum temperature from minimum temperature
import pandas as pd
data = pd.read_csv("Summary of Weather.csv")
data.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
f1 = ['MinTemp']
X = data[f1]
f2 = ['MaxTemp']
Y = data[f2]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

In [11]:
from sklearn.linear_model import LinearRegression
logreg = LinearRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [12]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
# model evaluation for training set
y_train_predict = logreg.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))
r2 = r2_score(y_train, y_train_predict)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

# model evaluation for testing set
y_test_predict = logreg.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict)))
r2 = r2_score(y_test, y_test_predict)

print("The model performance for testing set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for training set
--------------------------------------
RMSE is 4.15231978284671
R2 score is 0.7729574998276318


The model performance for testing set
--------------------------------------
RMSE is 4.2001394904290725
R2 score is 0.7682972164663344

In [27]:
print(logreg.predict(x_test[1:50]))

[[32.63911356]
 [31.61840863]
 [31.61840863]
 [18.85959707]
 [29.06664632]
 [21.41135938]
 [32.12876109]
 [31.61840863]
 [31.10805617]
 [12.73536752]
 [29.06664632]
 [31.10805617]
 [15.28712983]
 [33.14946601]
 [30.08735124]
 [ 2.01796581]
 [32.12876109]
 [15.28712983]
 [24.47347416]
 [30.08735124]
 [11.20431013]
 [17.32853968]
 [27.53558893]
 [21.92171184]
 [30.08735124]
 [31.61840863]
 [30.08735124]
 [30.59770371]
 [23.96312169]
 [28.55629385]
 [21.92171184]
 [30.08735124]
 [17.32853968]
 [32.12876109]
 [31.61840863]
 [31.61840863]
 [17.83889214]
 [31.10805617]
 [24.98382662]
 [31.10805617]
 [32.12876109]
 [23.45276923]
 [18.34924461]
 [32.63911356]
 [16.30783476]
 [20.39065446]
 [33.65981848]
 [27.53558893]
 [31.61840863]]